REDIS_HOST=redb-tls-route-rag.apps.mays-demo.sandbox3060.opentlc.com
REDIS_PORT=443
REDIS_PASSWORD=yujWZZws
REDIS_SSL=true
REDIS_SSL_CHECK_HOSTNAME=false
# For TLS Redis, set REDIS_SSL=true and provide either REDIS_CA_CERT_PATH or REDIS_CA_CERT_TEXT.
#REDIS_CA_CERT_PATH=
REDIS_CA_CERT_TEXT="-----BEGIN CERTIFICATE-----
MIIFujCCA6KgAwIBAgIBATANBgkqhkiG9w0BAQsFADBdMSIwIAYDVQQDDBlyZWMu
cmFnLnN2Yy5jbHVzdGVyLmxvY2FsMRAwDgYDVQQLDAdyZWRpc2RiMSUwIwYDVQQK
DBxSZWRpc0xhYnMgRW50ZXJwcmlzZSBDbHVzdGVyMB4XDTI2MDQxMDE4MjUxOFoX
DTI3MDQxMDE4MjUxOFowXTEiMCAGA1UEAwwZcmVjLnJhZy5zdmMuY2x1c3Rlci5s
b2NhbDEQMA4GA1UECwwHcmVkaXNkYjElMCMGA1UECgwcUmVkaXNMYWJzIEVudGVy
cHJpc2UgQ2x1c3RlcjCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAOzG
mGx5lLbqEkDnIJ4FNhOlwG+xccOzJAiGylL7eg23wtU2v9TiM/E5SgMh1vyYmaPA
tlFRBtTWTpUuNPGavSYvmwVocB3A/SwVgu4hmVpS8dJdssCBcmRWPqvs5lC9x+el
tpzTh8SpsGpbjRcW7XJ2M/yp82+B0/vPU2WIuVzRfnA9K7qzU7zq1C26aCQ2tsd3
ooNZL/BeUcY+EiiqDeR2yCJ37iHmL23ounuTaxtkT3Pa4C0jMMNtxoDFJmYSgFcY
A3sBZMi6eq3i8ULePNvuGAPpw6VmR+99ftd7dIe3pHHINHfMqJYUbR56oCncjB8C
U97Gii7KxRJ/2RgRO9nnh5B0vzzb52G3H/DzuXje0SE1FBrFtMNhBEtNDafq0hkU
Lj2vZAI1IoSI3dbL5gqA8LGMeFBSV9iJS/uA0V6DN5A94Zflx5nN0Y9Wlb+FAtOR
qOA0bX4S3QIZhXqGQVrqAON7KF6lgos5eFxldwFwwBJI+su4xC5uy/Vgu3OODZJv
vPS4KvgZQ/HBjBkEwA3oIL6XD95GH5EP/r/xYisERGrq7fJ1DC7EFmoImizUZYN8
GCMFbZg1Z9mcK8+OEFiAjsyTvzeOWATDevvGp9bmVBTsVmfLW2EBhOLOlmHmsggV
WNcesvc3mlFAqcDHYXZSWLhSnIEVyEc9lGAL5tJZAgMBAAGjgYQwgYEwHQYDVR0l
BBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMEEGA1UdEQQ6MDiCGXJlYy5yYWcuc3Zj
LmNsdXN0ZXIubG9jYWyCGyoucmVjLnJhZy5zdmMuY2x1c3Rlci5sb2NhbDAdBgNV
HQ4EFgQUbWL9n/TErGXC/QDfPnq3f+quKsIwDQYJKoZIhvcNAQELBQADggIBAAir
QBukCKS20KiWFvRX1hw75FCoCRufaDKsYJDCKhwIaNwz2aCopa6Uk7AlNY0PNLB6
IMRz46l4jbPcRfQzFqFGS0FQPBcrNIRH/u4EWK+pVjUTW8H/HNs0/6qMqPybxws3
1kkPLW2AYifR1TmJkDMQzd1p+QkQSh2lOafr7AxdivRXPmXUj/bsJDig66ceLnXK
RvKjsU7lYnu3ISIZOPGQbaWNavMaeYxCzR3Gz1NzxtoYTVFfStYGGpVRqJ9dk7PJ
2Y2cGif9UT3HsgafG1ACsBaU37UeaEoLWbCqysxVCwuUXN2Y0JMwJNQPsCcgcoiO
uyg3mz4OZ34uQyiL2Nqq6Xq7+e/KL7n/CqEq9LscFjNBNnybRkJOvwO/DyZ0Wuz4
ceQkfPlArC50DV1q108gcBkgwcePLVV07+SAuh0tHpI/unq8iT+rq/0XYf9Jz19C
JL7s4aQQcPuy7NIniC7tRIYihcNiRBZq29qgEUVg5G9hLmtG+RDsaaq+P9BVA3NF
Wr5v7o0FloOLSBpspntjXti5TTxBvMnCiQq5xKtpJWjByrNT6/Uf9ZBxgzNvaC1J
eTCBZfebrbT2Kwg1y3ySq30bL6v7O+BQDb4mOxEGrwz9DswUtDj7eNgMba2Irqv0
GpyZOO7y/LEfNBfs6PQOyKnVK722O067+m7zYFk5
-----END CERTIFICATE-----"
# Optional explicit TLS server name for SNI / hostname verification.
REDIS_SNI_HOSTNAME=redb-tls-route-rag.apps.mays-demo.sandbox3060.opentlc.com

EMBEDDING_ENDPOINT=https://granite-embedding-english-r2-rag.apps.mays-demo.sandbox3060.opentlc.com/v1
EMBEDDING_API_FORMAT=openai_embeddings
EMBEDDING_MODEL=granite-embedding-english-r2

LLM_ENDPOINT=https://llama-32-3b-instruct-rag.apps.mays-demo.sandbox3060.opentlc.com
LLM_API_FORMAT=openai_chat
LLM_MODEL=llama-32-3b-instruct

MODEL_API_KEY=not-needed-for-internal-service
REQUEST_TIMEOUT_SECONDS=60

VECTOR_INDEX_NAME=demo:docs:index
VECTOR_DIMENSION=768
VECTOR_DISTANCE_METRIC=COSINE

APP_HOST=0.0.0.0
APP_PORT=8501
DEFAULT_TOP_K=4
SEMANTIC_CACHE_DISTANCE_THRESHOLD=0.12
SEMANTIC_ROUTE_DISTANCE_THRESHOLD=0.16
SESSION_TTL_SECONDS=86400
CHUNK_SIZE=900
CHUNK_OVERLAP=150
TOKEN_PRICE_PER_1K=0.002
